{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "chakra-ui"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:storybook/recommended",
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/ban-types": "off",
    "react/display-name": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    // "react/jsx-first-prop-new-line": [2, "multiline"],
    // "react/jsx-max-props-per-line": [
    //   2,
    //   { "maximum": { "single": 1, "multi": 1 } }
    // ],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "max-len": ["warn", { "code": 140, "ignoreComments": true }],
    "import/no-anonymous-default-export": [2, { "allowArrowFunction": true }]
  },
  "overrides": [
    {
      // or whatever matches stories specified in .storybook/main.js
      "files": ["*.stories.@(ts|tsx|js|jsx|mjs|cjs)"]
      /*       "rules": {
        // example of overriding a rule
        // "storybook/hierarchy-separator": "error",
        // example of disabling a rule
        // "storybook/default-exports": "off"
      } */
    }
    // {
    //   "files": ["*.ts", "*.mts", "*.cts", "*.tsx"],
    //   "rules": {
    //     "no-undef": "off"
    //   }
    // }
  ]
}
